*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;;
}
#container{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-right: 30px;
}
.logo{
    width: 160px;
}
.list-items{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}
.links{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.links:hover{
    color: rgb(255, 106, 0);
    text-decoration: underline;
}
.homeContent{
    margin: 13% 0px 0px 8%;
}
#username{
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Playwrite CU", system-ui;
}
#lname{
    font-family: "Playwrite CU", system-ui;
    color: rgb(255, 145, 0);
}
#userDetails{
    line-height: 1.4;
}
#download{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 30px;
}
.homeImage{
    width: 45%;
    height: 75%;
    position: absolute;
    right: 40px;
    bottom: 0px;
}
.group1{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 2s, left 1s;
}
.homeImage:hover #shape{
    bottom: 60px;
}
.homeImage:hover #girl{
    left: 30%;
}
#about{
    margin: 25% 8% 0px 8%;
}
.sectionhead{
    text-align: center;
}
.mainHead{
    font-size: 30px;
}
.subHead{
    font-size: 20px;
    color: rgb(255, 106, 0);
}
.aboutBody{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    align-items: center;
}
.img1{
    width: 80%;
}
.aboutContent{
    font-size: 20px;
    text-align: justify;
}
.informations{
    margin-top: 1.3rem;
}
.infoBox{
    margin-bottom: 10px;
}
.infoBox>span{
    margin-left: 10px;
}
#skills{
    margin: 15% 8% 0px 8%;
}
.skillsHead{
    text-align: center;
}
.mySkill{
    width: 100%;
}
.skillContent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 20px;
}
.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;
}
.barHead, .barPercent{
    font-weight: 500;
    font-size: 1.3rem;
}
.basebar{
    width: 100%;
    height: 0.5rem;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
}
.htmlbar{
    background-color: orange;
    width: 89%;
}
.cssbar{
    background-color: orange;
    width: 83%;
}
.jsbar{
    background-color: orange;
    width: 79%;
}
.reactbar{
    background-color: orange;
    width: 92%;
}
#contact{
    margin: 8% 8% 0px 8%;
}
.iconCollections{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.icon{
    width: 50px;
    height: 50px;
    /* border: solid; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.brands{
    color: black;
    font-size: 2rem;
}
.icon:hover{
    background-image: linear-gradient(to bottom right, yellow, orange, red);
}
.icon:hover .brands{
    color: white;
    /* animation */
    animation: rotate 3s;
}

@keyframes rotate{
    0%{
        transform: rotate(40deg);
    }
    20%{
        transform: rotate(-40deg);
    }
    40%{
        transform: rotate(40deg);
    }
    60%{
        transform: rotate(-40deg);
    }
    80%{
        transform: rotate(40deg);
    }
    100%{
        transform: rotate(-40deg);
    }
}
footer{
    margin: 8% 0px 0px 0px;
}
#copyright{
    text-align: center;
    font-weight: 600;
}
.upArrow{
    float: right;
    margin: -30px 20px 0px 0px;

}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: azure;
}
::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 10px;
}